body > h1, p{
    text-align: center;
}

p {font-weight: bold;}

.container{
    display: flex;
    flex-wrap: wrap;
}

.product{
    border: 2px solid gray;
    border-radius: 25px;
    width: 168px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 10px 10px;
}

.product img{
    width: 60%;
}

.product p{
    font-weight: bold;
}